<div class="sharing">
  <section class="profile grid">
    <img class="avatar" src="<%- theme.avatar %>" alt="avatar" />
    <div class="grid-item">
      <p class="title"> <%- theme.title %> </p>
      <p class="subtitle"> <%- theme.subtitle %> </p>
    <div>
  </section>

  <section class="share-btn">
  </section>
</div>
