//
// base
//
$bg-color: #eee;
$main-content-width: 700px;
$gutter: 15px;

$root-font-size: 16px;
$body-font-size: 1rem;


//
// header
//
$banner-height: 450px;
$avatar-size: 100px;
$app-title-font-size: 1.875rem;

$avatar-border-color: #fff;
$app-title-color: #222;
$app-subtitle-color: #EB298C;


//
// archive
//
$article-date-color: #aaa;
$anchor-color: #5badf0;
$article-gutter: 3 * $gutter;

$page-nav-font-size: 1.25rem;

//
// article
//
$article-line-height: 1.7;

//
// sharing
//
$sharing-border-color: #ddd;
$sharing-avatar-size: 70px;
$sharing-subtitle-color: #999;

//
// footer
//
$app-footer-height: 80px;
$app-footer-color: #666;
$app-footer-bg: #abcdef;
