<article>
  <h1 class="article-title"><%- post.title %></h1>

  <div class="article-content">
    <%- post.content.substr(0, 200) %>
    ......
  </div>

  <div class="article-meta">
    <span class="article-date"><%- date(post.date, 'MMM DD YYYY') %></span>
  </div>
</article>
