<article class="grid">
  <h1 class="article-title grid-item">
    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h1>

  <div class="article-meta">
    <span class="article-date"><%- date(post.date, 'MMM DD YYYY') %></span>
  </div>
</article>
