<footer class="app-footer">
  <p>
    Writed by
    <a href="https://github.com/DrakeLeung/hexo-theme-again">
      Drake Leung
    </a>
  </p>
  <p> Powered by <a href="https://hexo.io.com"> Hexo </a> <p>
</footer>
