<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%- theme.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%- theme.favicon %>">
  <%- css('css/app') %>
</head>
