<nav class="app-nav">
  <a href="<%- url_for(theme.nav.about) %>">about</a>
  <a href="<%- url_for(theme.nav.archive) %>">archive</a>
  <a class="home" href="<%- url_for(theme.nav.home) %>">home</a>
</nav>
