.app-nav {
  position: absolute;
  top: 0;
  right: 0;

  margin: $gutter;

  a {
    color: $anchor-color;
    text-transform: capitalize;
    padding: 6px 10px;
  }

  .home {
    background-color: $anchor-color;
    color: #fff;
  }
}
